@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&family=Space+Grotesk:wght@300;400;500;600;700&family=Work+Sans:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
 font-family: 'Space Grotesk', sans-serif;
  font-weight: 400;
  height: 100%;
  background-image: #f8f9fd;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*==================== HAMBER BURGER  STYLING============ */

a{
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.navbar{
  display: flex;
  justify-self: space-between;
  align-items: center;
  padding-top: 20px;
}

.hamburger {
  padding-right: 30px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: #000;
}
.nav__link {
  position: fixed;
  width: 94%;
  top: 5rem;
  left: 18px;
  background-color: #833ab4;
}
.nav__link a {
  display: block;
  text-align: center;
  padding: 10px 0;
}
.hide {
  display: none;
}
.navbar-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 600px) {

  .nav__link {
    display: block;
    position: static;
    width: auto;
    margin-right: 20px;
    background: none;
  }
  .nav__link a{
    display: inline-block;
    padding: 15px 20px;
  }
  .hamburger {
    display: none;
  }
  .show {
    display: block;
    font-size: 10rem;
  }
}

/*==================== SEARCH BOX STYLING============ */
.container {
    border-radius: 5px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 300px;
}
.title {
    margin: 0;
}
.subtitle {
    display: inline-block;
    margin: 5px 0 20px;
    opacity: 0.8;
}

.header{
    color: #fff;
    background-color: #833ab4;
    padding: 30px 20px;
}
.header input {
    background-color: rgba(0, 0, 0, 0.3);
    border: 0;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    padding: 10px 50px;
    width: 100%;
}
.header input:focus {
    outline: none;
}
.user-list {
    background-color: #fff;
    list-style-type: none;
    margin: 0;
    padding: 0;
    max-height: 400px;
    overflow-y: auto;
}
.user-list li{
    display: flex;
    padding: 20px;
}
.user-list img {
    border-radius: 50%;
    object-fit: cover;
    height: 50px;
    width: 50px;
}
.user-list .user-info {
    margin-left: 10px;
}
.user-list .user-info h4 {
    margin-left: 10px;
}
.user-list .user-info p{
    font-size: 12px;
}
.user-list li:not(:last-of-type) {
    border-bottom: 1px solid #eee;
}
.user-list li.hide {
    display: none;
}


/*=======================  TIMELINE STYLING =================*/
.timeline {
  margin: 0 auto;
  max-width: 750px;
  padding: 25px;
  display: grid;
  grid-template-columns: 1fr 3px 1fr;
  font-family: "Fira Sans", sans-serif;
  color: #777777;
 }
 .timeline__component {
  margin: 0 20px 20px 20px;
 }
 .timeline__component--bg {
  padding: 1.5em;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 3px #833ab4;
  border-radius: 10px;
 }
 /* LEAVE TILL LAST */
 .timeline__component--bottom {
  margin-bottom: 0;
 }
 .timeline__middle {
  position: relative;
  background: #d6d6d6;
 }
 .timeline__point {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  background: #833ab4;
  border-radius: 50%;
 }
 /* LEAVE TILL LAST */
 .timeline__point--bottom {
  top: initial;
  bottom: 0;
 }
 .timeline__date--right {
  text-align: right;
  color: #833ab4;
 }
 .timeline__title {
  margin: 0;
  font-size: 1.15em;
  font-weight: bold;
  color: #391472;
 }
 .timeline__paragraph {
  line-height: 1.5;
 }
 .timeline__date {
  color: #833ab4;
 }
 .titol {
  font-style: italic;
 }